$primary-color:#10204D;
$secondary-color:#545ED8;
$dark-color:#000000;
$medium-color:#090429;
$light-color:#ffffff;
$light-dark:rgb(250, 250, 251);
$shadow-color: rgba(41, 45, 50, 0.61);
$width:1140px;